modules = ["web", "nodejs-20"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "static"
run = ["bash", "-c", "cd NameMeaningApiDocumentation && npm start"]
publicDir = "public"
